<form (submit)="register()" [formGroup]="signupForm">
  <div>
    <label for="name">Name: </label>
    <input type="text" formControlName="name">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" formControlName="email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" formControlName="password">
  </div>
  <div>
    <label for="confirmation">Confirm password:</label>
    <input type="password" formControlName="confirmation">
  </div>
  <div>
    <button>
      Sign up
    </button>
  </div>
</form>

<p>Form: {{signupForm.valid}}</p>