<form [formGroup]="form" (submit)="updateStudent()">
  <div>
    <input type="text" formControlName="name" placeholder="Nombre">
  </div>
  <div>
    <input type="email" formControlName="email" placeholder="Email">
  </div>
  <div>
    <input type="text" formControlName="username" placeholder="Username">
  </div>
  <div>
    <input type="text" formControlName="phone" placeholder="Telefono">
  </div>
  <div>
    <input type="text" formControlName="website" placeholder="URL website">
  </div>
  <div>
    <button class="btn" [disabled]="!isChanged">Guardar</button>
    <a class="btn" routerLink="..">Cancelar</a>
    <a class="btn" (click)="clean()">Limpiar</a>
  </div>
</form>

<p>
  {{form.controls.name.touched}}
</p>